* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  /* background-color: #f2f2f2; */
  background-color: #e9edf4;
}
header {
  position: sticky;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  background-color: #ffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.links {
  padding: 1rem;
  padding-right: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  box-sizing: content-box;
  min-width: 200px;
}
.links a {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
  font-weight: bold;
  letter-spacing: 2.5px;
}
.contact {
  position: relative;
  text-decoration: none;
  border-radius: 16px;
  padding: 0.5rem;
  /* background-color: #e5920d; */
  font-size: 1.2rem;
  border: 0.5px solid rgb(149, 146, 146);
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  background-color: #e5920d;
  border-radius: 15px;
  height: 100%;
  transition: width 0.3s ease, background 0.5s ease;
  z-index: -1;
}
.contact:hover::before {
  width: 100%;
  background-color: #e5920d;
  border-radius: 16px;
  box-shadow: 4px 4px 5px 0.5px rgb(147, 147, 147);
}

.imag {
  display: inline-block;
  width: 40%;
  height: 5rem;
  padding-left: 2rem;
}
.imag img {
  width: 80%;
  height: 100%;
}

/*----------------Boton Hambuerguesa-----------*/


.panel{
    position: fixed;
    z-index: 990;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--scond-modal-color);
    width:50%;
    max-width: 400px;
    min-width: 300px;
    transition: transform .5s ease;
    transform: translate(-100%,0);
    background-color: #e9edf4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel.is-active{
    transform: translate(0,0);
}
.panel-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    left: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 196, 231);
}

.menu{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 50px;
    gap: 7em;
    align-items: center;
    height: 80%;
    box-sizing: border-box;
}
.menu a{
    display: inline-block;
    width: 50%;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s easer;
    text-align: start;
}
.menu a:hover{
    font-weight: bold;
    color: var(--second-color);
    background-color: var(--main-modal-color);
}












/****Presentacion***********/
main {
  margin: auto;
  width: 95%;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  padding: 1rem;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 3em;
  z-index: 1;
}
.about-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em 20px 0 20px;
  gap: 2.5rem;
  min-width: 310px;
}
.about-text h2 {
  font-size: 3em;
  min-width: 350px;
}
.about-text p {
  width: 70%;
  text-align: justify;
  letter-spacing: 1px;
}

.about-text a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  border-radius: 16px;
  padding: 0.8rem;
  border: 0.5px solid rgb(149, 146, 146);
  color: black;
  width: 250px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: transparent;
  margin-top: 1em;
  box-sizing: border-box;
  letter-spacing: 2px;
}
.contacto::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  background-color: #e5920d;
  border-radius: 15px;
  height: 100%;
  transition: width 0.3s ease, background 0.5s ease;
  z-index: -1;
}
.contacto:hover::before {
  width: 100%;
  background-color: #e5920d;
  border-radius: 16px;
  box-shadow: 4px 4px 5px 0.5px rgb(147, 147, 147);
}
.about-prog {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-width: 300px;
}
.about-prog img {
  width: 100%;
}

/*****Skills******************** */
.habi {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: #ffff;
  border-radius: 25px;
  padding-bottom: 2em;
}

.tit {
  font-size: 3em;
  padding-top: 0.5em;
  letter-spacing: 0.2em;
  display: inline-block;
  position: relative;
}
.tit::after,
.tit::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: black;
  top: 1em;
}
.tit::before {
  left: -100px;
}
.tit::after {
  right: -100px;
}
.habi-content {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: wrap;
  min-height: 80vh;
}
.skill {
  height: 200px;
  width: 200px;
  text-align: center;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  box-shadow: 4px 4px 5px 0.5px rgb(147, 147, 147);
  position: relative;
  background-color: #e5920d;
  overflow: hidden;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}
.skill img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}
#js {
  left: 15%;
  top: 15%;
  width: 70%;
  height: 70%;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: #ccc;
}
.wave {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e5920d;
}
.wave::before,
.wave::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}

.wave::before {
  border-radius: 45%;
  background: #fff;
  animation: animate 5s linear infinite;
}

.wave::after {
  border-radius: 40%;
  background: #fff;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.proyect {
  padding: 0.5em;
  margin-top: 2em;
  width: 90%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.proyect h2 {
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 0.2em;
}
.proyect hr {
  margin-top: 0.5em;
  border: 2px solid #e5920d;
  border-radius: 5px;
  margin-bottom: 1em;
}
.proyect p {
  text-align: center;
  margin-bottom: 2em;
}
.art {
  width: 100%;
  min-height: 400px;
  margin-bottom: 2em;
  padding: 0.5em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: transparent;
}

.site {
  width: 55%;
  height: 300px;
  min-width: 400px;
  transition: all 0.3s;
  box-shadow: 3px 4px 4px 1px #c3d6f6;
  background: #f2f2f2;
}
.site:hover {
  transform: rotate(-2deg);
}
.site img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.site img:hover {
  transform: rotate(4deg) scale(1.05);
}

.desc {
  min-width: 150px;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  box-sizing: border-box;
}

.desc a {
  display: inline-block;
  width: 80%;
  max-width: 200px;
  height: 200px;
  margin: 0 auto;

  border-radius: 50%;
}
.imggit {
  width: 100%;
  height: 100%;
}

#button {
  position: relative;
  margin-top: 1em;
  display: inline-block;
  width: 50%;
  height: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 16px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  border: 0.5px solid rgb(149, 146, 146);
  background-color: transparent;
  z-index: 5;
}
#button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  background-color: #e5920d;
  border-radius: 15px;
  height: 100%;
  transition: width 0.3s ease, background 0.5s ease;
  z-index: -1;
}
#button:hover::before {
  width: 100%;
  background-color: #e5920d;
  border-radius: 16px;
  box-shadow: 4px 4px 5px 0.5px rgb(147, 147, 147);
}

.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 2em;
  padding: 1em;
  box-sizing: border-box;
}

.info {
  width: 40%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.dis {
  text-align: center;
}
.ti {
  font-size: 2em;
}
.corr {
  color: rgb(5, 5, 100);
}

.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 40%;
  max-width: 380px;
  min-width: 300px;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 50px;
  -webkit-box-shadow: 14px 11px 18px 8px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 14px 11px 18px 8px rgba(0, 0, 0, 0.52);
  box-shadow: 14px 11px 18px 8px rgba(0, 0, 0, 0.52);
}
.title {
  align-self: center;
  font-size: 1.5em;
  color: rgb(5, 5, 100);
  text-align: center;
}
.lab {
  color: rgb(5, 5, 100);
  margin-top: 30px;
}

.inp {
  margin-top: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(5, 5, 100);
  background-color: whitesmoke;
}

.textarea {
  resize: none;
  box-sizing: border-box;
  padding: 10px;
  height: 50px;
}

.sub {
  border: 1px solid rgb(5, 5, 100);
  width: 50%;
  align-self: center;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(5, 5, 100);
  color: white;
  transition-duration: 0.4s;
}

.sub:hover {
  background-color: white;
  color: rgb(5, 5, 100);
}

@media screen and (max-width: 500px) {
  * {
    
  }

  /*Diseño responsico para el header*/
  header {
    justify-content: center;
  }
  .links {
    display: none;
  }
  .imag {
    min-width: 200px;
    padding-left: 0%;
  }
  .imag img {
    width: 100%;
  }

  /* -----Diseño responsivo para la presentacion */

  main {
    width: 100%;
    padding: 0;
    padding-top: 1em;
    overflow: hidden;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-bottom: 2em;
    box-sizing: border-box;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .about-text {
    width: 90%;
    padding: 0.5em;
    gap: 1rem;
    min-width: 220px;
  }
  .about-text h2 {
    font-size: 1.8em;
    min-width: 200px;
  }
  .about-text p {
    width: 95%;
    text-align: justify;
  }
  .about-text a {
    padding: 0.4em 0.6em;
    font-size: 1.4rem;
    margin-top: 0;
    width: 150px;
    letter-spacing: 0;
  }
  .about-prog {
    width: 70%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-width: 100px;
  }
  .about-prog img {
    width: 100%;
  }

  /*Diseño responsivo para las skills*/
  .habi {
    width: 95%;
    padding-top: 1em;
    padding-bottom: 1em;
    overflow: hidden;
  }
  .tit {
    font-size: 1.8em;
    letter-spacing: 0;
    margin-bottom: 1em;
  }
  .tit::before {
    left: -55px;
    width: 50px;
  }
  .tit::after {
    right: -55px;
    width: 50px;
  }
  .habi-content {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
    min-height: 80vh;
  }
  .skill {
    height: 150px;
    width: 150px;
  }

/*Estilizando los proyectos */

.proyect {
  padding: 0.5em;
  margin-top: 2em;
  width: 90%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.proyect h2 {
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 0.2em;
}
.proyect hr {
  margin-top: 0.5em;
  border: 2px solid #e5920d;
  border-radius: 5px;
  margin-bottom: 1em;
}
.proyect p {
  text-align: center;
  margin-bottom: 1em;
}
.art {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 2em;
}

.site {
  width: 90%;
  height: 200px;
  min-width: 230px;
  
}

.desc {
  min-width: 150px;
  width: 80%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.desc a {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border-radius: 0;
}
.imggit {
  width: 100%;
  height: 100%;
  
}

#button {
  padding: 0.5em;
  margin-top: 0;
  width: 50%;
  height: 1em;
  text-align: center;
  border-radius: 13px;
  color: black;
  font-size: 15px;
  background-color: #e5920d;
  overflow: hidden;
}


.cont {
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  margin-bottom: 5em;
}

.info {
  width: 100%;
  min-width: 242px;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
}
.dis {

}
.ti {

}
.corr {

}

.form {
  width: 100%;
  min-width: 260px;
  box-sizing: border-box;
}


}


@media screen and (min-width: 700px) and (max-width: 900px) {
.about {
  width: 98%;
  box-sizing: border-box;
}
.about-text {
  width: 40%;
  padding: 1em 10px 1em 10px;
  gap: 2rem;
  min-width: 200px;
}
.about-text h2 {
  font-size: 2em;
  min-width: 240px;
}
.about-text p {
  width: 100%;
}
.about-prog {
  min-width: 200px;
}
.about-prog img {
  width: 100%;
}


.habi {
  width: 98%;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: hidden;
}
.tit {
  font-size: 2.5em;
  letter-spacing: 2px;
  margin-bottom: 1em;
}
.tit::before {
  left: -65px;
  width: 60px;
}
.tit::after {
  right: -65px;
  width: 60px;
}
.habi-content {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: wrap;
  min-height: 80vh;
}
.skill {
  height: 183px;
  width: 183px;
}

/*--------Poyectos-------------------*/

.proyect {
  padding: 0.5em;
  margin-top: 2em;
  width: 98%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proyect h2 {
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 0.2em;
}
.proyect hr {
  margin-top: 0.5em;
  border: 2px solid #e5920d;
  border-radius: 5px;
  margin-bottom: 1em;
}
.proyect p {
  text-align: center;
  margin-bottom: 2em;
}
.art {
  width: 100%;
  min-height: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
  margin-bottom: 2.5em;
  padding-top: 0;

}

.site {
  width: 60%;
  height: 240px;
  min-width: 230px;
  
}
.desc {
  min-width: 150px;
  width: 30%;
  flex-direction: column;
  align-items: center;
  height: 240px;

}
.desc a {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border-radius: 0;
}
.imggit {
  width: 100%;
  height: 100%;
  
}

#button {
  padding: 0.5em;
  margin-top: 0.5em;
  width: 50%;
  height: 1em;
  text-align: center;
  border-radius: 13px;
  color: black;
  font-size: 15px;
  background-color: #e5920d;
  overflow: hidden;
}

}

@media screen and (min-width: 501px) and (max-width: 699px) {
  *{
  }
  
  header {
    justify-content: center;
  }
  .links {
    display: none;
  }
  .imag {
    min-width: 200px;
    padding-left: 0%;
  }
  .imag img {
    width: 100%;
  }




  /* -----Diseño responsivo para la presentacion */

  main {
    width: 100%;
    padding: 0;
    padding-top: 1em;
    overflow: hidden;
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-bottom: 2em;
    box-sizing: border-box;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .about-text {
    width: 90%;
    padding: 0.5em;
    gap: 1rem;
    min-width: 220px;
  }
  .about-text h2 {
    font-size: 1.8em;
    min-width: 200px;
  }
  .about-text p {
    width: 95%;
    text-align: justify;
  }
  .about-text a {
    padding: 0.4em 0.6em;
    font-size: 1.4rem;
    margin-top: 0;
    width: 150px;
    letter-spacing: 0;
    background-color: #e5920d;
  }
  .about-prog {
    width: 70%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-width: 100px;
  }
  .about-prog img {
    width: 100%;
  }

  /*Diseño responsivo para las skills*/
  .habi {
    width: 95%;
    padding-top: 1em;
    padding-bottom: 1em;
    overflow: hidden;
  }
  .tit {
    font-size: 1.8em;
    letter-spacing: 0;
    margin-bottom: 1em;
  }
  .tit::before {
    left: -55px;
    width: 50px;
  }
  .tit::after {
    right: -55px;
    width: 50px;
  }
  .habi-content {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
    min-height: 80vh;
  }
  .skill {
    height: 167px;
    width: 167px;
  }

/*Estilizando los proyectos */

.proyect {
  padding: 0.5em;
  margin-top: 2em;
  width: 95%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.proyect h2 {
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 0.2em;
}
.proyect hr {
  margin-top: 0.5em;
  border: 2px solid #e5920d;
  border-radius: 5px;
  margin-bottom: 1em;
}
.proyect p {
  text-align: center;
  margin-bottom: 1em;
  background-color: aqua;
}
.art {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 2em;
}

.site {
  width: 80%;
  height: 200px;
  min-width: 230px;
  
}

.desc {
  min-width: 150px;
  width: 80%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 150px;
  
}
.desc a {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border-radius: 0;
}
.imggit {
  width: 100%;
  height: 100%;
  
}

#button {
  padding: 0.5em;
  margin-top: 0;
  width: 50%;
  height: 1em;
  text-align: center;
  border-radius: 13px;
  color: black;
  font-size: 15px;
  background-color: #e5920d;
  overflow: hidden;
}
}