* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  
}
body{
  background-color: #f2f2f2;
}
header {
  position: sticky;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  background-color: #ffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  z-index: 100;
}
.links {
  padding: 1rem;
  padding-right: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  box-sizing: content-box;
  min-width: 200px;
}
.links a {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
  font-weight: bold;
  letter-spacing: 2.5px;
}
.contact {
  position: relative;
  text-decoration: none;
  border-radius: 16px;
  padding: 0.5rem;
  /* background-color: #e5920d; */
  font-size: 1.2rem;
  border: 0.5px solid rgb(149, 146, 146);
}

.contact::before{
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width: 35px;
  background-color: #e5920d;
  border-radius: 15px;
  height: 100%;
  transition: width 0.3s ease, background 0.5s ease;
  z-index: -1;
}
.contact:hover::before{
    width: 100%;
    background-color: #e5920d;
    border-radius: 16px;
    box-shadow: 4px 4px 5px 0.5px rgb(147, 147, 147);

}

.imag {
  width: 40%;
  height: 5rem;
  padding-left: 2rem;
}
.imag img {
  width: 80%;
  height: 100%;
}

/*Presentacion*/
main {
  margin: auto;
  width: 95%;
  box-sizing: content-box;
  padding: 1rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  padding: 1rem;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 3em;
  z-index: 1;
}
.about-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em 20px 0 20px;
  gap: 2.5rem;
  min-width: 310px;
}
.about-text h2 {
  font-size: 3em;
  min-width: 350px;
  letter-spacing: 2px;
}
.about-text p {
  width: 70%;
  text-align: justify;
  letter-spacing: 1px;
}



.about-text a{
  position: relative;
  display: inline-block;
  text-decoration: none;
  border-radius: 16px;
  padding: 0.8rem;
  border: 0.5px solid rgb(149, 146, 146);
  color: black;
  width: 250px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: transparent;
  margin-top: 1em;
  box-sizing: border-box;
  letter-spacing: 2px;
}
.contacto::before{
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width: 35px;
  background-color: #e5920d;
  border-radius: 15px;
  height: 100%;
  transition: width 0.3s ease, background 0.5s ease;
  z-index: -1;

}
.contacto:hover::before{
    width: 100%;
    background-color: #e5920d;
    border-radius: 16px;
    box-shadow: 4px 4px 5px 0.5px rgb(147, 147, 147);

}















.about-prog {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-width: 300px;
}
.about-prog img {
  width: 100%;
}

/*****Skills******************** */
.habi{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: #ffff;
  border-radius: 25px;
  padding-bottom: 2em;
}

.tit{
  font-size: 3em;
  padding-top: 0.5em;
  letter-spacing: 0.2em;
  display: inline-block;
  position: relative;
}
.tit::after,.tit::before{
  content: '';
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: black;
  top: 1em;
}
.tit::before{
  left: -100px;
}
.tit::after{
  right: -100px;
}
.habi-content{
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-content:space-around;
  flex-wrap: wrap;
  min-height: 80vh;

}
.skill{
  height: 200px;
  width: 200px;
  text-align: center;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  box-shadow: 4px 4px 5px 0.5px rgb(147, 147, 147);
  position: relative;background-color: #e5920d;
  overflow: hidden;
}
.skill img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}
#js{
  left: 15%;
  top: 15%;
  width: 70%;
  height: 70%;
}


.circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;
  background: #ccc; 
  
}
.wave{
   position: relative;
   width: 100%;
   height: 100%;
   background-color: #e5920d;
}
.wave::before,
.wave::after{
   content: '';
   position: absolute;
   width: 200%;
   height: 200%;
   top: 0;
   left: 50%;
   transform: translate(-50%,-75%);
}

.wave::before{
   border-radius: 45%;
   background: #fff;
   animation: animate 5s linear infinite;
}

.wave::after{
   border-radius: 40%;
   background:#fff;
   animation: animate 5s linear infinite;
}

@keyframes animate{
   0%{
       transform: translate(-50%,-75%) rotate(0deg);
   }
   100%{
       transform: translate(-50%,-75%) rotate(360deg);
   }
}

.proyect{
  outline: 1px solid red;
  padding: 0.5em;
  margin-top: 2em;
  width: 90%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proyect h2{
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 0.2em;
  outline: 1px solid red;
}
.proyect hr{
  color: red;
  border: 2px solid red;
  border-radius: 5px;
  margin-bottom: 1em;
}
.proyect p{
  outline: 1px solid red;
  text-align: center;
}